.about-page {

  h1 {
   @include header-box;
  }

  .member-wrap {
    margin: 20px auto 80px;
    img {
      border-radius: 100%;
      width: 215px;
      height: 215px;
      object-fit: cover;
      margin-bottom: 15px;
    }

    header {
      font-family: $font-old-standard;

      h2, h3 {
        font-size: 1.428rem;
        margin: 10px;
      }
    }

    .member-info {
      margin-top: 30px;
      padding: 0 20px;
      color: #5E5E5E;
      letter-spacing: 0.4px;
      font-size: 0.928rem;
      font-family: $font-helvetica;
      text-align: left;
    }

 
  }
}
