.contact-page {
  h1 {
    @include header-box;
  }

  .contact-info {
    text-align: left;
    font-size: 0.928rem;
    margin: 30px 0;
  }

  .contact-list {
    text-align: left;
    ul {
      margin-left: -5px;
      list-style-type: none;
      li {
        padding: 10px 0;
        span {
          padding-left: 36px;
        }
        i {
          margin-right: 10px;
          font-size: 1.4rem;
        }
        & .icon-location {
          position: relative;
          top: 10px;
        }
      }
    } 
  }

  #map {
   width: 100%;
   height: 200px;
   background-color: grey;

   iframe {
    width: 100%;
    height: 100%;
   }
 }

  .contact-form {
    padding: 20px 0;

    .form-group, input, textarea, button {
      margin: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    button {
      margin: 10px;
      &:hover {
        background-color: #fff;
      }
    }
  }
}