

/******************************************************************
  CAROUSEL
*******************************************************************/

#mainCarousel {
  .carousel-inner {
    //max height can be set if images are the same px size.
    // max-height: 300px;
    height: 300px;
    img {
      width: 100%; /* Adhere to container width. */
      height: 300px; 
      object-fit: cover;
    }
  }

  .carousel-indicators li {
    width: 5px;
    height: 5px;
    background-color: #ECEEF0;

    &.active {
      background-color: #333536;
      border: #333536;
    }
  }
}

.intro-component {
  margin: 10px 0;
  padding: 10px 5%;
  background-color: $light-grey;
  transition: all 600ms ease;

  .text-box {
    border: 1px solid black;
    padding: 28px 15px;
    text-align: center;
    h2 {
    display: inline-block;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.071rem;
    }
  }
}


.banner-group {
  .banner-image {
    position: relative;
    transition: all 600ms ease;
    height: 200px;//160 min
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    .image-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      text-transform: uppercase;
      color: $light-grey;
      font-weight: bold;
      white-space: nowrap;
       h3 {
        transition: all 600ms ease;
        text-transform: uppercase;
        width: 100%;
        font-weight: 300;
        letter-spacing: 5px;
        margin-bottom: 10px;
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1.142rem;
        font-weight: 300;
      }
    }
    i[class*="icon"] {
      font-size: 5rem;
    }

    //First Main Banner
    &:first-of-type {
      .image-overlay {  
        transition: all 600ms ease;
        background-color: rgba(196, 170, 109, 0.6);
        padding: 10px;
        letter-spacing: 2px;
      }
      h3 {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0;
      }
    }

    &.cost {
      h3 {
        margin-bottom: 25px;
      }
      i[class="icon-money"] {
        font-size: 3rem;
        border: 7px solid white;
        border-radius: 50%;
      }
    }
  }

  .banner-info {
    transition: padding 600ms ease;
    font-size: 0.875rem;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    background-color: $light-grey;

    p {
      max-width: 400px;
      margin: 0 auto 10px;
    }

    &.space {
       margin: 10px 0;
       p {
        max-width: 900px;
       }
    }
  }
}