

body {
  font-family: 'Nunito Sans', sans-serif;
}
/******************************************************************
  NAVIGATION
*******************************************************************/
nav.navbar-default {
  background-color: #000015;
  margin-bottom: 0;
  border: none;
  border-radius: 0;

  .navbar-collapse {
    border: none;
    box-shadow: none;
  }

  .navbar-brand { 
      padding: 0;
    img {
      height: 100%;
    }
  }
}


/******************************************************************
  CAROUSEL
*******************************************************************/

#mainCarousel {
  .carousel-inner {
    height: 210px;
    img {
      width: 100%; /* Adhere to container width. */
      height: 210px; 
      object-fit: cover;
    }
  }

  .carousel-indicators li {
    width: 5px;
    height: 5px;
    background-color: #ECEEF0;

    &.active {
      background-color: #333536;
      border: #333536;
    }
  }
}

.intro-component {
  margin: 10px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $light-grey;

  .text-box {
    border: 1px solid black;
    padding: 28px 15px;
    h2 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.5rem;
    }
  }
}


.banner-group {
  .banner-image {
    position: relative;
    height: 160px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      color: $light-grey;
      font-weight: bold;
      white-space: nowrap;
       h3 {
        text-transform: uppercase;
        width: 100%;
        font-weight: normal;
        letter-spacing: 5px;
        margin-bottom: 10px;
      }
    }
    i[class*="icon"] {
      font-size: 5rem;
    }

    &.cost {
      h3 {
        margin-bottom: 25px;
      }
      i[class="icon-money"] {
        font-size: 3rem;
        border: 5px solid white;
        border-radius: 100%;
      }
    }

    //First Main Banner
    &:first-of-type {
      height: 200px;
      .image-overlay {  
        background-color: rgba(196, 170, 109, 0.6);
        padding: 10px;
        letter-spacing: 2px;
      }
      h3 {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 0;
      }

    }
  }

  .banner-info {
    padding: 20px;
    background-color: $light-grey;

    &.space {
       margin: 10px 0;
    }
  }

  .banner-info:nth-child(1){
    background-color: red !important;
  }
}