
$light-grey: #F7F7F7;
$dark-grey: #000015;
$font-old-standard: 'Old Standard TT', serif;
$font-nunito: 'Nunito Sans', sans-serif;
$font-helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin header-box {
    margin: 20px auto;
    text-transform: uppercase;
    font-size: 1.425rem;
    font-weight: normal;
    border: 1px solid black;
    display: inline-block;
    padding: 15px;
    letter-spacing: 4px;
}

html, body {
  font-size: 14px;
  font-weight: 300;
  font-family: $font-nunito
}

h1,h2,h3,h4, ul, li {
  margin: 0;
  padding: 0;
}



