
$light-grey: #F7F7F7;
$dark-grey: #000015;
$font-old-standard: 'Old Standard TT', serif;
$font-nunito: 'Nunito Sans', sans-serif;
$font-helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin header-box {
    margin: 20px auto;
    text-transform: uppercase;
    font-size: 1.425rem;
    font-weight: normal;
    border: 1px solid black;
    display: inline-block;
    padding: 15px;
    letter-spacing: 4px;
}

html, body {
  font-size: 14px;
  font-weight: 300;
  font-family: $font-nunito;
}

h1,h2,h3,h4, ul, li {
  margin: 0;
  padding: 0;
}


/******************************************************************
  NAVIGATION
*******************************************************************/
nav.navbar-default {
  background-color: $dark-grey;
  margin-bottom: 0;
  border: none;
  border-radius: 0;

  .navbar-nav>li>a, .navbar-nav>li>a:hover   {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2rem;
  }

  .navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
    background-color: #fff;
  }

  .navbar-collapse {
    border: none;
    box-shadow: none;
  }

  .navbar-brand { 
      padding: 0;
    img {
      height: 100%;
    }
  }
}


/******************************************************************
  FOOTER
*******************************************************************/
footer.social {
  padding: 20px 0;
  background-color: #404040; 
  color: $light-grey;
  h2 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.357rem;
    letter-spacing: 3px;
  }
  .social-icons {
    li {
      display: inline-block;
    }
    i {
      font-size: 2rem;
      margin: auto 5px;
    }
    a {
      color: $light-grey;
    }
    a:hover {
      color: #c4aa6d;
    }
  }
}

