@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700");
h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Nunito Sans', sans-serif; }

/******************************************************************
  NAVIGATION
*******************************************************************/
nav.navbar-default {
  background-color: #000015;
  margin-bottom: 0;
  border: none;
  border-radius: 0; }
  nav.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none; }
  nav.navbar-default .navbar-brand {
    padding: 0; }
    nav.navbar-default .navbar-brand img {
      height: 100%; }

/******************************************************************
  CAROUSEL
*******************************************************************/
#mainCarousel .carousel-inner {
  height: 210px; }
  #mainCarousel .carousel-inner img {
    width: 100%;
    /* Adhere to container width. */
    height: 210px;
    object-fit: cover; }
#mainCarousel .carousel-indicators li {
  width: 5px;
  height: 5px;
  background-color: #ECEEF0; }
  #mainCarousel .carousel-indicators li.active {
    background-color: #333536;
    border: #333536; }

.intro-component {
  margin: 10px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F7F7F7; }
  .intro-component .text-box {
    border: 1px solid black;
    padding: 28px 15px; }
    .intro-component .text-box h2 {
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 1.5rem; }

.banner-group .banner-image {
  position: relative;
  height: 160px; }
  .banner-group .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .banner-group .banner-image .image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #F7F7F7;
    font-weight: bold;
    white-space: nowrap; }
    .banner-group .banner-image .image-overlay h3 {
      text-transform: uppercase;
      width: 100%;
      font-weight: normal;
      letter-spacing: 5px;
      margin-bottom: 10px; }
  .banner-group .banner-image i[class*="icon"] {
    font-size: 5rem; }
  .banner-group .banner-image.cost h3 {
    margin-bottom: 25px; }
  .banner-group .banner-image.cost i[class="icon-money"] {
    font-size: 3rem;
    border: 5px solid white;
    border-radius: 100%; }
  .banner-group .banner-image:first-of-type {
    height: 200px; }
    .banner-group .banner-image:first-of-type .image-overlay {
      background-color: rgba(196, 170, 109, 0.6);
      padding: 10px;
      letter-spacing: 2px; }
    .banner-group .banner-image:first-of-type h3 {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 0; }
.banner-group .banner-info {
  padding: 20px;
  background-color: #F7F7F7; }
  .banner-group .banner-info.space {
    margin: 10px 0; }
.banner-group .banner-info:nth-child(1) {
  background-color: red !important; }

/* Mobile first queries */
/* Larger than mobile */
@media (min-width: 400px) {
  .top-banner {
    height: 350px; } }
/* Larger than phablet */
@media (min-width: 550px) {
  .top-banner {
    height: 500px; } }
/* Larger than tablet */
@media (min-width: 750px) {
  .top-banner {
    height: 650px; } }
/* Larger than desktop */
@media (min-width: 1000px) {
  .top-banner {
    height: 800px; } }
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .top-banner {
    height: 1200px; } }

/*# sourceMappingURL=style.css.map */
